*{
 box-sizing: border-box;
}
.div{
 margin:auto;
width: 100vw;
height: 70vh;
 display: flex;
 flex-wrap: wrap;
}
.grid{
 
 
 background-color: blanchedalmond;
 border: 1px solid black;
 
}

.hover{
 background: pink;
}