*{
 box-sizing: border-box;
}
.div{
 margin:auto;
width: 100vw;
height: 70vh;
 display: flex;
 flex-wrap: wrap;
}
.grid{
 
 
 background: blanchedalmond;
 border: 1px solid black;
 
}

.hover{
 background: pink;
}

.btn{
 width: 100vw;
 margin: 40px auto;
 display:flex;
 justify-content: center;
}

.btn-add{
 padding: 10px;
 background: rgb(127, 127, 237);
 border-radius: 8px;
 border: none;
}